#.gitignore for RESEARCH
.vs/*
Debug/*
cmake-build-debug/
.idea/
boxes.pdf
path.pdf
patch.pdf
*.sln
*.VC.db
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.out
*.exe
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.log
*.run.xml
*.synctex.gz
*.toc
*.swp
*.nav
*.snm
*.vrb

